<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0n6WUa3ReQ_KOFa-ntoec1cf9Yv_iKkY</string>
	<key>GCM_SENDER_ID</key>
	<string>1021337077830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.guild42.ftIntra42</string>
	<key>PROJECT_ID</key>
	<string>ft-intra-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>ft-intra-flutter.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021337077830:ios:777029fcfdeb00c3e6e247</string>
</dict>
</plist>